{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}About{% endblock %}



{% block body %}
    <main class="container-fluid">
        <h2 class="page-title my-5 mx-4 my-2">About Us</h2>
            <div class="row">
                <div class="col-md-5 m-4">
                    <h3 class="mb-3">About <span class="about-logo-name">Eyes Gallery</span></h3>
                    <p style="word-wrap: break-word;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquid at aut
                        consequuntur cumque debitis distinctio dolore doloremque dolorum earum et explicabo, itaque
                        libero magnam minus modi nam necessitatibus, nemo nihil nobis nulla pariatur quam reprehenderit
                        sed sint soluta veniam veritatis voluptatibus voluptatum? Aliquid dolores eum laborum laudantium
                        sint?</p>
                    <p><i>Ab accusantium culpa eaque earum esse est expedita, explicabo facilis impedit ipsum iusto, libero, modi nihil quod repellendus tempora tempore velit voluptas.</i></p>
                    <div>
                        <a class="btn about-btn" href="{{ path('gallery') }}">Our Gallery</a>
                    </div>
                </div>

                <div class="col-md-5 m-4">
                    <h3 class="mb-3">Contact <span class="about-logo-name">Eyes Gallery</span></h3>
                    <div class="d-flex flex-row align-items-center my-3">
                        <i class="icofont-email about-contact"></i>
                        <p class="m-0">eyesgallery@info.com</p>
                    </div>
                    <div class="d-flex flex-row align-items-center my-3">
                        <i class="icofont-phone about-contact"></i>
                        <p class="m-0">01 23 45 67 89</p>
                    </div>
                    <div class="d-flex flex-row align-items-center my-3">
                        <i class="icofont-location-pin about-contact"></i>
                        <p class="m-0">Places des Cadets 54, 5000 Namur</p>
                    </div>
                    <div>
                        <a class="btn about-btn" href="{{ path('home') }}">Contact Us</a>
                    </div>
                </div>
            </div>

    </main>
{% endblock %}