{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Admin{% endblock %}
{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('addpainting') }}" class="btn btn-primary my-5">Add painting</a>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Création</th>
                        <th>Catégorie</th>
                        <th><i class="icofont-ui-edit"></i></th>
                        <th><i class="icofont-ui-delete"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for painting in paintings %}
                        <tr>
                            <td><img src="{{ asset('img/tableaux/' ~ painting.image) }}" alt="{{ painting.title }}" class="img-table" style="width: 100px; height: auto;"></td>
                            <td>{{ painting.title|capitalize }}</td>
                            <td>{{ painting.createdAt|date("d/m/Y") }}</td>
                            <td>{{ painting.category.name }}</td>
                            <td><a href="{{ path('editpainting', {id:painting.id}) }}" class="text-decoration-none">Edit</a></td>
                            <td><a href="{{ path('delpainting', {id:painting.id}) }}" class="text-decoration-none" onclick="return confirm('Are you sure?')">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
