{% extends 'base.html.twig' %}
{% block body %}
    <main class="container-fluid">
        <h2 class="page-title my-5 mx-4 my-2">Detail</h2>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <img src="{{ asset('img/tableaux/' ~ painting.image) }}" alt="{{ painting.title }}" style="width: 100%;" class="my-5">
            </div>
            <div class="col-md-5 my-5">
                <h3 class="display-5">{{ painting.title|upper }}</h3>
                <h4>{{ painting.category.name }}</h4>
                <h4>{{ painting.createdAt|date('d/m/Y') }}</h4>
                <p class="lead">{{ painting.description }}</p>
                <p>Width: {{ painting.width }}cm</p>
                <p>Height: {{ painting.height }}cm</p>
                <a href="{{ path('gallery')}}" class="btn btn-dark detail-btn rounded-pill p-2 mx-0 my-3">Back to Gallery</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 my-2">
                <h2 class="my-2">Comments</h2>
                {% for com in painting.comment %}
                    <div class="border-bottom border-3">
                        <p class="lead">Publied by <b>{{ com.author }}</b> - {{ com.createdAt|date('d/m/Y H:i') }}</p>
                        <p>{{ com.content }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-5 my-2">
                <h2 class="my-2">Add a comment</h2>
                {{ form_start(commentForm) }}
                {{ form_widget(commentForm) }}
                <input type="submit" value="Add comment" class="btn btn-dark detail-btn rounded-pill p-2 mx-0 my-3">
                {{ form_end(commentForm) }}

            </div>
        </div>
    </main>
{% endblock %}