{% extends 'base.html.twig' %}
{% block body %}
    <main class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <h2 class="my-5 py-2">Edit a painting</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Edit this painting" class="btn btn-dark detail-btn rounded-pill p-2 mx-0 my-3">
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}