{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gallery{% endblock %}

{% block body %}

    <main class="container-fluid">
        <h2 class="page-title my-5 mx-4 my-2">Our Gallery</h2>
        <div class="d-flex flex-row">
            <div class="dropdown">
                <button class="btn filter-btn dropdown-toggle mx-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Choose a category..
                </button>
                {% if categoryId %}
                    {% if categoryId == 109 %}
                        <h3 class="mx-4 my-2">Street Art</h3>
                        {% elseif categoryId == 110 %}
                            <h3 class="mx-4 my-2">Abstract</h3>
                        {% elseif categoryId == 111 %}
                            <h3 class="mx-4 my-2">Modern Art</h3>
                        {% elseif categoryId == 112 %}
                            <h3 class="mx-4 my-2">Renaissance</h3>
                        {% elseif categoryId == 113 %}
                            <h3 class="mx-4 my-2">Futurism</h3>
                        {% elseif categoryId == 114 %}
                            <h3 class="mx-4 my-2">Surrealism</h3>
                    {% endif %}
                {% endif %}
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for category in categories %}
                        <li><a class="dropdown-item" href="{{ path('gallery', {category:category.id}) }}">{{ category.name }}</a></li>
                    {% endfor %}
                    <li><a class="dropdown-item" href="{{ path('gallery') }}">All categories</a></li>
                </ul>
            </div>
        </div>

        <div class="row my-4">
            {% for painting in paintings %}

                {% if painting.category.id == categoryId %}
                    <div class="col img-container text-center">
                        <div class="img">
                            <img src="{{ asset('img/tableaux/' ~ painting.image) }}" alt="{{ painting.title }}" style="width: 450px; height: 300px;" class="rounded gallery-img my-4">
                        </div>
                        <div class="img-text" id="loading">
                            <h3 class="text-white">{{ painting.title|capitalize }}</h3>
                            <p class="text-white">{{ painting.createdAt|date("d/m/Y") }}</p>
                            <a href="{{ path('gallery-detail', {id:painting.id}) }}" class="btn gallery-btn">More info</a>
                        </div>
                    </div>

                {% elseif not categoryId %}
                    <div class="col img-container text-center">
                        <div class="img">
                            <img src="{{ asset('img/tableaux/' ~ painting.image) }}" alt="{{ painting.title }}" style="width: 450px; height: 300px;" class="rounded gallery-img my-4">
                        </div>
                        <div class="img-text" id="loading">
                            <h3 class="text-white">{{ painting.title|capitalize }}</h3>
                            <p class="text-white">{{ painting.createdAt|date("d/m/Y") }}</p>
                            <a href="{{ path('gallery-detail', {id:painting.id}) }}" class="btn gallery-btn">More info</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}




