{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Home page{% endblock %}



{% block body %}
    <main class="controller home-container d-flex align-items-center justify-content-lg-start text-center">
        <div class="row">
            <div class="col-md-12 mx-5">
                <h1 class="display-5 home-title">Art delivers emotions</h1>
                <h3 class="display-5 home-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                <a href="{{ path('gallery') }}" class="btn home-btn btn-light rounded-pill p-3 py-2 mx-3 my-3">Our gallery</a>
                <a href="{{ path('about') }}" class="btn home-btn btn-light rounded-pill p-3 py-2 mx-3 my-3">About us</a>
            </div>
        </div>
    </main>
{% endblock %}
