{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Team{% endblock %}



{% block body %}
    <main class="container-fluid">
        <h2 class="page-title my-5 mx-4 my-2">Our Team</h2>
        <div class="row justify-content-center m-4 align-items-center">

            <div class="col-md-2 m-3 text-center div-team flex-column justify-content-lg-end">
                <div>
                    <img src="{{ asset('img/team/1.jpg') }}" alt="" class="my-3 team-img img-fluid">
                    <h3 class="team-name my-3">Sarah Conrad</h3>
                    <h4 class="team-title">Director</h4>
                    <p class="team-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <div class="justify-content-center team-socials">
                        <a href="https://facebook.com" class="text-decoration-none px-4"><i class="icofont-facebook"></i></a>
                        <a href="https://instagram.com" class="text-decoration-none px-4"><i class="icofont-instagram"></i></a>
                        <a href="https://twitter.com" class="text-decoration-none px-4"><i class="icofont-twitter"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-md-2 m-3 text-center div-team">
                <img src="{{ asset('img/team/2.jpg') }}" alt="" class="my-3 team-img img-fluid">
                <h3 class="team-name my-3">John Doe</h3>
                <h4 class="team-title">Manager</h4>
                <p class="team-text">Magnam, possimus dolor sit amet, nagnam nipsu ipsum adipisci lite.</p>
                <div class="justify-content-center team-socials">
                    <a href="https://facebook.com" class="text-decoration-none px-4"><i class="icofont-facebook"></i></a>
                    <a href="https://instagram.com" class="text-decoration-none px-4"><i class="icofont-instagram"></i></a>
                    <a href="https://twitter.com" class="text-decoration-none px-4"><i class="icofont-twitter"></i></a>
                </div>
            </div>

            <div class="col-md-2 m-3 text-center div-team">
                <img src="{{ asset('img/team/3.jpg') }}" alt="" class="my-3 team-img img-fluid">
                <h3 class="team-name my-3">Julie Bolton</h3>
                <h4 class="team-title">Assistant</h4>
                <p class="team-text">Assumenda, consequatur, temporibus amet cum dicta dignissimos.</p>
                <div class="justify-content-center team-socials">
                    <a href="https://facebook.com" class="text-decoration-none px-4"><i class="icofont-facebook"></i></a>
                    <a href="https://instagram.com" class="text-decoration-none px-4"><i class="icofont-instagram"></i></a>
                    <a href="https://twitter.com" class="text-decoration-none px-4"><i class="icofont-twitter"></i></a>
                </div>
            </div>

            <div class="col-md-2 m-3 text-center div-team">
                <img src="{{ asset('img/team/4.jpg') }}" alt="" class="my-3 team-img img-fluid">
                <h3 class="team-name my-3">Mike Stark</h3>
                <h4 class="team-title">Designer</h4>
                <p class="team-text">A adipisci commodi doloribus exercitationem fuga iste maxime.</p>
                <div class="justify-content-center team-socials">
                    <a href="https://facebook.com" class="text-decoration-none px-4"><i class="icofont-facebook"></i></a>
                    <a href="https://instagram.com" class="text-decoration-none px-4"><i class="icofont-instagram"></i></a>
                    <a href="https://twitter.com" class="text-decoration-none px-4"><i class="icofont-twitter"></i></a>
                </div>
            </div>

        </div>
    </main>
{% endblock %}