/* GENERALS CSS */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.page-title {
    font-family: "Playfair Display", serif;
    border-bottom: 1px solid #000;
    width: fit-content;
}

/* HOME */


.home-container {
    background: url('../img/4.jpg') center/cover;
    height: 92.9vh;
}

.home-title,
.nav-link {
    font-family: 'Playfair Display', serif;
}

.home-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
}

.home-title,
.home-text {
    color: #fff;
}

.home-title {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.05em;
}

.home-title:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#fff;
}

.icofont-twitter,
.icofont-instagram,
.icofont-facebook {
    color: #a1a1a1;
}

.icofont-twitter:hover,
.icofont-instagram:hover,
.icofont-facebook:hover {
    color: #fff;
}

.home-btn {
    font-family: "Playfair Display", serif;
    transition: background 0.3s;
}

.home-btn:hover {
    background: none;
    color: #fff;
    border: 1px solid #fff;
}

.underline{
    position: relative;
}

.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/* GALLERY */

.img-container {
    position: relative;
}

.img-text {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    display: none;
    font-family: Bahnschrift, sans-serif;
}

.img-container:hover .img-text {
    display: block;
}

.gallery-btn {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    transition: background 0.2s;
}

.gallery-btn:hover {
    color: #000;
    background-color: #fff;
}

.filter-btn {
    color: #000;
    border: 1px solid #000;
    font-family: Bahnschrift, sans-serif;
}

.filter-title {
    font-family: Bahnschrift, sans-serif;
    font-weight: 200;
}

.img-container:hover > *:not(#loading) {
    filter: brightness(50%);
}


/* DETAILS */

.detail-btn {
    background: none;
    font-family: Bahnschrift, sans-serif;
    color: #000;
    transition: background 0.5s;
}

/* TEAM */

.div-team {
    padding-bottom: 20px;
}

.team-img {
    height: 200px;
    border-radius: 20%;
}

.team-name {
    font-family: Bahnschrift, sans-serif;
}

.team-title {
    text-transform: uppercase;
    color: #000;
    font-family: "Playfair Display", serif;
}

.team-text {
    font-family: Roboto, sans-serif;
}

.team-name:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto 0;
    background: #0d9ac5;
}

.team-socials i  {
    color: #0d9ac5;
}

.team-socials i:hover {
    color: #838383;
}


/* ABOUT */

.about-logo-name {
    color: #0d9ac5;
    font-family: Bahnschrift, sans-serif;
}

.about-btn {
    background-color: #0d9ac5;
    font-family: Bahnschrift, sans-serif;
    color: #fff;
    transition: all 0.5s;
}

.about-btn:hover {
    background: none;
    border: 1px solid #0d9ac5;
}

.about-contact {
    padding-right: 20px;
    font-size: 2rem;
    color: #0d9ac5;
}


:focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}


@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}