<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Eyes Gallery: {% endblock %}</title>

        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('icofont/icofont.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('img/logo2.png') }}" alt="" style="width: 130px;"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item px-3">
                                <a class="nav-link underline" aria-current="page" href="{{ path('home') }}">Home</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link underline" href="{{ path('gallery') }}">Gallery</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link underline" href="{{ path('about') }}">About</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link underline" href="{{ path('team') }}">Team</a>
                            </li><li class="nav-item px-3">
                                <a class="nav-link text-white" href="{{ path('admin') }}">Admin</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-collapse d-flex justify-content-end nav-socials">
                        <a href="https://facebook.com" class="text-decoration-none px-4"><i class="icofont-facebook"></i></a>
                        <a href="https://instagram.com" class="text-decoration-none px-4"><i class="icofont-instagram"></i></a>
                        <a href="https://twitter.com" class="text-decoration-none px-4"><i class="icofont-twitter"></i></a>
                    </div>
                </div>
            </nav>
        {% endblock %}


    </head>
    <body>
    {% block body %}
    {% endblock %}
    </body>
    {% block javascripts %}
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    {% endblock %}
</html>
